template(name='ads')
    .ui.segment
        .ui.small.grey.header resident advertisement
        with current_ad
            +html_view key='content' direct=true
            +link_view key='link' direct=true
        
