template(name='user_messages')
    .ui.segment
        .ui.inline.grey.header 
            i.mail.icon
            |mail
        if currentUser
            .ui.icon.fluid.input
                i.plus.icon
                input#new_message(type='text' placeholder="send message to #{current_user.username}...")
        .ui.segments
            each user_messages
                .ui.segment
                    .ui.small.header #{body}
                    //- each tags
                    //-     .ui.label #{this}
                    //- div
                    //- +notify_message
                    //- +user_list_toggle key='read_by_ids' label='Mark Read' icon='eye'
                    div
                    |by
                    +author_info
                    +creation_info
                    if can_edit
                        +remove_button
                    //- +watson_view
        

template(name='notify_message')
    unless notified
        .ui.circular.basic.icon.button.notify(title="notify #{to_username}")
            i.rss.icon
